		/*carousel css*/
		/* .col-md-3{
		display: inline-block;
		margin-left:-4px;
		}
		.col-md-3 img{
		width:100%;
		height:auto;
		} */
		/* body .carousel-indicators li{
		background-color:red;
		}
		body .carousel-indicators{
		bottom: 0;
		}
		body .carousel-control-prev-icon,
		body .carousel-control-next-icon{
		background-color:red;
		}
		body .no-padding{
		padding-left: 0;
		padding-right: 0;
		} */
    .carousel-control-prev-icon,
           .carousel-control-next-icon {
				height: 100px;
				width: 100px;
				outline: black;
				background-size: 100%, 100%;
				/* border-radius: 50%;
				border: 1px solid black; */
				background-image: none;
           }
		   .carousel-control-prev{
			position: absolute;
            left: -60px;
		   }
          .carousel-control-next{
			 position: absolute;
             right: -50px;
		  }
     .carousel-control-next-icon:after
		{
		content: '>';
		font-size: 55px;
		/* color: red; */
		color:black;
		}

		.carousel-control-prev-icon:after {
		content: '<';
		font-size: 55px;
		/* color: red; */
		color:black;
		}
	.userstitle{
		margin:0 auto;
		font-size: 14px;
        font-weight: bold;
        text-transform: capitalize;
		text-align:center;
		margin-bottom:20px;
	}
	.block-btn{
		margin-top:10px;
	}
	.kt-notification__item-body{
		text-align:center;
	}
	/*login page css*/
	.sidenav {
		height: 100%; 
		width: 0; 
		position: fixed; 
		z-index: 1; 
		top: 0; 
		left: 0;
		background-color: #fff; 
		/* overflow-x: hidden;  */
		overflow:hidden;
		padding-top: 60px; 
		transition: 0.5s; 
	}
	.sidenav ul li a{
		color:#5867dd;
	}
	.sidenav .closebtn {
		position: relative;
		top: 25px;
		margin-left: 80%;
		width: 30px;
		height: 30px;
		border:none;
	}
	.sidenav .closebtn i{
		color: #968ad4;
		line-height: 0;
		font-size: 1.4rem;
	}
	.sidenav .closebtn:hover{
		/* background-color: #591df1; */
		background-color:#29ab87;
	}
	.sidenav .closebtn:hover i{
		color:white;
	}
	.footer{
		color:white !important;
		margin-left:42% !important;
	}
	.footer .kt-link{
		color:white !important;
	}
	.kt-footer__menu a{
		color:white !important;
	}
	/* .kt_header{
		background:#591df1 !important;
	} */
	.headerbg{
		background:#29ab87!important;
	}
	.kt-header__topbar span{
		color:white !important;
	}
	.kt-header__topbar-icon  a i{
		color:white !important;
	}
	.kt-header__topbar-icon  a i:hover{
		color:#29ab87 !important;
	}
	.kt-menu__nav  li a span{
		color:#29ab87 !important;
	}
	.kt-aside-toggler span{
		background:white !important;
	}
	.kt-aside-toggler span:before{
		background:white !important;
	}
	.kt-aside-toggler span:after{
		background:white !important;
	}
	.kt-menu__item:hover .kt-menu__link-icon{
		color:#29ab87!important;
	}
	.sign-out{
		color:#29ab87 !important;
		background:white !important;
		border:1px solid #29ab87;
	}
	.sign-out:hover{
		color:white !important;
		background:#29ab87 !important; 
		border:1px solid #29ab87;
	}
	/*profile page change password css*/
	.input-profile{
		width:55%;
	}
	/* .input-group{
	  width:55%;
	} */
	.submit-btn{
	  border-radius:2rem;
	  color:#1dc9b7;
	  background-color:white;
	  border:1px solid #1dc9b7; 
	  transition:.5s;
	}
	.cancel-btn{
	  border-radius:2rem;
	  color:#e7505a;
	  background-color:white;
	  border:1px solid #e7505a ; 
	  transition:.5s;
	}
	.submit-btn:hover{
	  background:#1dc9b7;
	  color:white;
	  border:1px solid #1dc9b7; 
	  /* box-shadow: 0 1px 3px rgba(0, 0, 0, .1), 0 1px 2px rgba(0, 0, 0, .18); */
	}
	.cancel-btn:hover{
	  background:#e7505a;
	  color:white;
	}
  
    #kt_scrolltop{
		background:#29ab87;
	}
	.subheaders-menu a:hover .kt-widget__desc{
		color:#29ab87 !important;
	}
	.subheaders-menu .kt-widget__item--active .kt-widget__desc{
		color:#29ab87 !important;
	}
	.subheaders-menu .kt-svg-icon g [fill]{
		fill:#29ab87 !important;
	}
	/* .kt-datatable-post .kt-datatable__row th span{
		width:50px !important;
		display:inline-block !important;
	}
    .kt-datatable-post .kt-datatable__row th{
		width:100px !important;
	} */